[submodule ".config/nvim"]
	branch = main
	path = .config/nvim
	url = git@git.lian.su:lazyvim-dotfiles.git
[submodule ".password-store"]
	path = .password-store
	url = git@git.lian.su:pass.git
[submodule "configs"]
	path = configs
	url = git@git.lian.su:configs.git
[submodule ".local/share/yadm/yadm"]
	path = .local/share/yadm/yadm
	url = https://github.com/TheLocehiliosan/yadm.git
[submodule "wiki"]
	path = wiki
	url = git@git.lian.su:wiki.git
	branch = master
