[submodule ".config/nvim"]
	branch = main
	path = .config/nvim
	url = git@github.com:liannnix/lazyvim-dotfiles.git
[submodule "vimwiki"]
	path = vimwiki
	url = gitea@git.giran.cyou:liannnix/vimwiki.git
[submodule ".password-store"]
	path = .password-store
	url = gitea@git.giran.cyou:liannnix/pass.git
[submodule "configs"]
	path = configs
	url = gitea@git.giran.cyou:liannnix/configs.git
[submodule ".local/share/yadm/yadm"]
	path = .local/share/yadm/yadm
	url = https://github.com/TheLocehiliosan/yadm.git
